.App {

}

.intro {
  padding: 97px 0 48px 75px;
}
h1 {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 21px;
}

h2 {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.all-questions {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-container {
  display: flex;
  justify-content: space-between;  
  max-width: 460px;
  width: 100%;
  margin: auto;
}

.question-container {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito';
  font-weight: bold;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 27px 0;
  max-width: 720px;
  width: 100%;
}

.radios {
  cursor: pointer;
  font-size: 24px;
}

.emailbox {
  max-width: 570px;
  width: 100%;
  padding: 11px 23px;
  margin: auto;
  font-size: 18px;
  background: #FFFFFF;
  border: 2px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 4px;
}

.submit {
  background: #3D59FA;
  border-radius: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 64px;
  padding: 8px 17px;
  cursor: pointer;
}

label {
  
  font-size: 18px;
  line-height: 25px;
  letter-spacing: .8px;
  margin-bottom: 27px;
}

span {
  font-size: 14px;
  line-height: 19px;
}

.disagree {
  color: #FA4344;
}

.agree {
  color: #00A079;
}